* {
  margin: 0%;
  padding: 0%;
}
body, body button{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main {
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  justify-content: space-between;
}
.side-bar {
  width: 20%;
  height: 93vh;
  position: fixed;
  color: white;
  background-color: rgb(39, 39, 150);
  top: 0;
  left: 0;
  bottom: 0;
  /* margin-top: 1vh; */
  /* margin-left: 1vh; */
  margin-right: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.icon{
    display: flex;
}
.icon ion-icon{
    width: 100%;
    height: 100%;
}
.icon-image{
    width: 30%;
}
.overview-container{
  margin-top: 10%;
  height: 50%;
}
.overview-btn{
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgb(196, 195, 195);
  border: none;
  font-size: 20px;
}
.overview-btn:hover{
  background-color: rgb(34, 0, 128);
  color: white;
}
.create-container{
  margin-top: 1%;
  height: 50%;
}
.create-btn,.settings-btn{
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgb(196, 195, 195);
  border: none;
  font-size: 20px;
}
.create-btn:hover,.settings-btn:hover{
  background-color: rgb(34, 0, 128);
  color: white;
}
.logout{
    display: flex;
    height: 8%;
}
.logout-btn{
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgb(196, 195, 195);
  border: none;
  font-size: 20px;
}
.logout-btn:hover{
  background-color: rgb(34, 0, 128);
  color: white;
}
.content {
  flex: 1;
  width: 80%;
  min-height: 100%;
  overflow-y: scroll;
  /* margin-top: 1vh; */
  margin-left: 25%;
  /* margin-right: 1vh; */
  /* background-color: blueviolet; */
}
.table{
  width: 100%;
  margin-top: 3%;
  border: 1px solid;
  text-align: center;
}
.table th,.table td ,.table tr{
  width: 10%;
  border: 1px solid;
}
.project-desc{
  width: 20%;
}
.edit-btn,.delete-btn{
  width: 100%;
  height: 8vh;
}

.edit-btn, .delete-btn{
  background-color: yellowgreen;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(233, 48, 48);
}