*{
    margin: 0%;
    padding: 0%;
}
body, body button,body input{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}
.image-container{
    width: 35%;
    height: 80%;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.register-container{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(204, 200, 200);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.register-cont1{
    display: flex;
    /* justify-content: space-between; */

}
.user-login-btn{
    width: 30%;
}
.register-cont1,.register-cont2,.register-cont3,.register-cont4,.register-cont5{
    height: 16%;
    width: 92%;
    padding-left:4%;
    padding-right:4%;
    padding-top:2%;
    padding-bottom:2%;
}
.register-cont2{
    display: flex;
    justify-content: space-between;
}
.first-name,.last-name{
    width: 50%;
}
#first-name-id,#last-name-id{
    background-color: whitesmoke;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    height: 60%;
    width: 92%;
}
.register-btn{
    height: 60%;
    width: 100%;
}
#email,#password{
    background-color: whitesmoke;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
    height: 60%;
    width: 96%;
}
.register-cont5{
    display: flex;
    justify-content: space-between;
}
.user-btn,.register-btn{
    background-color: rgb(39, 39, 150);
    color: white;
    border: none;
}
.user-btn:hover,.register-btn:hover{
    background-color: rgb(14, 177, 55);
    
}
.user-btn{
    height: 60%;
    width: 100%;
    border-radius: 10px;
}
.have-account-href:hover{
   color: rgb(14, 177, 55); 
}
.have-account-href{
    text-decoration: none;
    color: rgb(109, 108, 108);
}
.popup{
  color: green;
  display: none;
  text-align: center;
}