* {
  margin: 0%;
  padding: 0%;
}
body,
body button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main {
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  justify-content: space-between;
}
.side-bar {
  width: 20%;
  height: 93vh;
  position: fixed;
  color: white;
  background-color: rgb(39, 39, 150);
  top: 0;
  left: 0;
  bottom: 0;
  /* margin-top: 1vh; */
  /* margin-left: 1vh; */
  margin-right: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.icon {
  display: flex;
}
.icon ion-icon {
  width: 100%;
  height: 100%;
}
.icon-image {
  width: 30%;
}
.overview-container {
  margin-top: 10%;
  height: 50%;
}
.overview-btn {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgb(196, 195, 195);
  border: none;
  font-size: 20px;
}
.overview-btn:hover {
  background-color: rgb(34, 0, 128);
  color: white;
}
.create-container {
  margin-top: 1%;
  height: 50%;
}
.create-btn {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgb(196, 195, 195);
  border: none;
  font-size: 20px;
}
.create-btn:hover {
  background-color: rgb(34, 0, 128);
  color: white;
}
.logout {
  display: flex;
  height: 8%;
}
.logout-btn {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgb(196, 195, 195);
  border: none;
  font-size: 20px;
}
.logout-btn:hover {
  background-color: rgb(34, 0, 128);
  color: white;
}
.tabs{
  width: 100%;
  height: 10vh;
  display: none;
}
.content {
  flex: 1;
  width: 80%;
  min-height: 100%;
  overflow-y: scroll;
  /* margin-top: 1vh; */
  margin-left: 25%;
  /* margin-right: 1vh; */
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}
.todo-container {
  width: 45%;
  min-height: 40vh;
  max-height: max-content;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.todo-container ion-icon {
  color: purple;
}
.todo-title {
  display: flex;
  margin: 4%;
  border-bottom: 2px solid purple;
}
.dot-icon {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-content {
  width: 88%;
  min-height: 25vh;
  max-height: max-content;
  background-color: white;
  border-radius: 10px;
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4%;
}
.completed-container {
  width: 45%;
  min-height: 40vh;
  max-height: max-content;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
.completed-container ion-icon {
  color: green;
}
.completed-title {
  display: flex;
  margin: 4%;
  border-bottom: 2px solid green;
}
.completed-div {
  background-color: rgb(177, 240, 177);
  color: green;
  max-width: max-content;
  padding: 1%;
  padding-right: 2%;
  margin-top: 4%;
   margin-left: 4%;
   border-radius: 5px;
}
.end-date{
  padding-top: 4%;
  color: purple;
  font-weight: 700;
}
.end-date-complete{
  padding-top: 4%;
  color: green;
  font-weight: 700;
}
.project-desc{
  padding-top: 4%;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
  }
  .side-bar {
    width: 96%;
    height: 10vh;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
  }
  .profile {
    display: flex;
  }
  .overview-container {
    margin-top: 1%;
    height: 50%;
  }
  .logout {
    margin-top: 1%;
    height: 50%;
  }
  .logout-btn,
  .create-btn,
  .overview-btn,
  .settings-btn {
    font-size: 12px;
  }
  .user-details > p {
    font-size: 12px;
  }

  .content {
    width: 100%;
    margin-left: 0%;
    margin-top: 12vh;
  }
  
}
@media (max-width:425px) {
  .tabs{
    display: flex;
    margin-top: 15vh;
  }
  .todo-btn,.complete-btn{
    width: 50%;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
  }
  .todo-btn:hover,.complete-btn:hover{
    background-color: rgb(179, 175, 175);
  }
  
  .content{
    margin-top: 1vh;
  }
  .todo-container{
    width: 90%;
  }
  .completed-container{
    display: none;
    width: 90%;
  }
  
}
